@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  body::-webkit-scrollbar {
    width: 15px;
    height: 20px;
  }

  body::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #f7f4ed;
  }

  body::-webkit-scrollbar-thumb {
    @apply bg-slate-400/30;
    border-radius: 100vh;
    border: 3px solid #f6f7ed;
  }

  body::-webkit-scrollbar-thumb:hover {
    @apply bg-teal-600/50;
  }
}

body {
  @apply overflow-y-scroll;
}

/* ------------------------------------------------- */

.App {
  @apply flex flex-col items-center pb-10;
}

.app-wrapper {
  @apply px-11 w-full;
}

/* ------------------------------------------------- */

.app-header {
  @apply flex justify-center my-5 mb-10;
}

.app-header__title {
  @apply text-3xl font-bold;
}

/* ------------------------------------------------- */

.note-form {
  @apply flex flex-col items-center justify-center w-96 border rounded-md p-4;
}
.note-form__title {
  @apply text-2xl font-bold mb-4;
}

/* ------------------------------------------------- */

.note-control {
  @apply w-full mb-5 flex gap-x-3;
}

.note-control__input {
  @apply w-full border p-4 rounded-md;
}

.note-control__btn-search {
  @apply p-4 rounded-md bg-teal-600 text-white;
}

/* ------------------------------------------------- */
.form-group {
  @apply flex flex-col w-full mb-3;
}

.form-input,
.form-textarea {
  @apply rounded-md border-2 border-gray-300 p-2;
}

.btn {
  @apply py-2 px-4;
}
.btn-primary {
  @apply bg-teal-600 hover:bg-teal-700 text-white rounded;
}

/* ------------------------------------------------- */

.note-list {
  @apply flex flex-col items-center justify-center rounded-md shadow w-full py-4 border;
}
.note-list__title {
  @apply text-3xl font-bold;
}

.note-list__container {
  @apply w-full;
}
/* ------------------------------------------------- */

.note-list-item {
  @apply w-full py-4 px-6;
}

.note-list-item__title {
  @apply text-xl font-bold;
}

.note-list-item__createdat {
  @apply mb-3;
}

.note-list-item__body {
  @apply w-full;
}

.note-list-item__actions {
  @apply mx-4;
}
